In [5]:
from ftplib import FTP
ftp = FTP('ftpcluster.loopia.se')
ftp.login("username","password")
files = ftp.nlst()

newfile = files[-1]

In [24]:
date = newfile.split(" - ")[-1].split(".")[0] + ' 2017'

import datetime
newdate = datetime.datetime.strptime(date,'%b %d %Y').strftime('%Y-%m-%d')

dl_csv = newdate + '.csv'

NameError: name 'dl_csv' is not defined

In [73]:
import pandas as pd
df = pd.read_csv(dl_csv, delimiter=";", encoding='cp1252')

df["date"]= pd.Series([newdate]*len(df))

df["Region"] = df["Region"].str.replace(u"ร", "A")
df.columns = df.columns.str.replace(u"รถ","o")

In [77]:
df

,Region,Kontakter,Varav nya kontakter,Varav kontakter storkund,Varav kontakter prio,Besok,Telemoten,Webmoten,Bokn besok,Bokn telemoten,Bokn webmoten,Offerter,Inringda avtal,Seminarieavtal,Eget avtal,Mailat avtal,Partneravtal,Premier,date
0,STORKUND,57,4,32,40,4,0,0,5,0,0,1,0,0,0,0,0,0,2017-09-11
1,AFT,186,29,11,59,13,3,0,7,1,0,6,0,0,0,0,0,0,2017-09-11
2,INKASSO,253,163,18,99,0,1,0,0,0,0,2,0,0,0,0,0,0,2017-09-11
3,LEASING,39,11,7,27,3,0,0,9,0,0,0,0,0,0,0,0,0,2017-09-11
4,BILLING,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-09-11
5,SALJFINANS,101,50,8,55,42,0,0,25,0,0,1,4,0,3,0,0,1995,2017-09-11
6,WEBPAY,100,42,13,48,2,3,6,7,2,2,21,0,0,5,0,0,3890,2017-09-11
7,INNESALJ STORK,42,2,32,38,0,0,0,2,2,0,0,0,0,0,0,0,0,2017-09-11
8,INNESALJ,174,44,18,72,0,0,0,1,2,6,1,0,0,0,0,0,0,2017-09-11

In [76]:
df.to_csv(newdate+"_etl"+".csv")